
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Angeles City Civilian Security Unit - Dashboard</title>
    <script src="../angular/angular.js"></script>
    <script src="../angular/underscore.js"></script>
    <script src="../angular/moment.js"></script>
    <link href="../bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="../bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <link href="../bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <link href="../bootstrap/vendor/morrisjs/morris.css" rel="stylesheet">

    <link href="../bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="assets/demo.css">

    <link rel="stylesheet" href="assets/form-basic.css">

    <link href="../bootstrap/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <link href="../bootstrap/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

</head>
<style>
html {
    overflow-x: hidden;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #404040;
  text-decoration: none;
}

.img-circle {
    background: #d9d9d9;
    padding: 1px; 
}

.navbar-nav > li > a{ 
    padding: 8px 8px 
}
.sidebar {
  border-radius: 0 !important;
  border:0 !important ;
}
.badge-notify{
   background:red;
   position:relative;
   top: -20px;
   left: -30px;
}
.modal-sm {
  width: 450px;
  margin-top: 30px;
}
.modal-md {
  width: 1050px;
  margin-top: 30px;
}
.modal-notif {
  width: 1200px;
  margin-top: 30px;
}
.modal-lg {
  width: 600px;
  margin-top: 30px;
}
.modal-xlg {
  width: 700px;
  margin-top: 30px;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    border-color: transparent;
    background-color: #d9d9d9;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #f2f2f2;   
    }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #f2f2f2;   
    }
.nav-pills>li>a:hover, .nav-pills>li>a:focus, .nav-pills>li>a:hover {
    border-color: transparent;
    background-color: #d9d9d9;
}  

#add {
  display: inline-block;
  padding-left: 30px;
  float: left;
}

</style>

<body ng-app="app" ng-controller="appController">

    <div id="wrapper" style="background-color:#262626;">
        <% include navbar/navbar.ejs %>    
            <br>
            <div style="background-color:#e6e6e6; padding-right: 20px; padding-left: 20px;"> 
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default" style="background-color:#ffffff">
                            <div class="panel-body">
                                <h1 class="page-header"><i class="fa fa-dashboard fa-fw"></i> Dashboard</h1>          
                                <div class="col-lg-4 col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-tasks fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">26</div>
                                                    <div>Total Account(s)</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#04modal" data-target="#04modal" data-toggle="modal">
                                            <div class="panel-footer">
                                                <span class="pull-left">View Details</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="panel panel-yellow">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-exclamation-circle fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">5</div>
                                                    <div>Active Account(s)</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#05modal" data-target="#05modal" data-toggle="modal">
                                            <div class="panel-footer">
                                                <span class="pull-left">View Details</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="panel panel-red">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-times-circle fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">3</div>
                                                    <div>Disabled Account(s)</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#06modal" data-target="#06modal" data-toggle="modal">
                                            <div class="panel-footer">
                                                <span class="pull-left">View Details</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div><br>  
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <h2><i class="fa fa-calendar fa-fw"></i> Daily Time Record</h2><hr>
                                                <div class="alert alert-danger" id="absentReportDiv" hidden>
                                                    <h5>Absent for today !</h5>
                                                    <ul id="absentReportList"></ul>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group form-group-lg">
                                                            <div class="col-lg-4">
                                                                <h3>Location:</h3>
                                                                <select class="form-control" id="sel1" ng-model="logLocation" ng-change="refreshLog()">
                                                                    <option value="7">Angeles City Hall</option>
                                                                    <option value="4">Renal Care Unit</option>
                                                                    <option value="6">Angeles City Library</option>
                                                                    <option value="5">Museo Ning Angeles</option>
                                                                    <option value="2">Blood Bank</option>
                                                                    <option value="3">CSWDO</option>
                                                                    <option value="1">City College of Angeles</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                                <br>
                                                <div class="container-fluid">
                                                  <ul class="nav nav-tabs">
                                                    <li class="active"><a data-toggle="tab" href="#home">Day Time</a></li>
                                                    <li><a data-toggle="tab" href="#menu1">Swing Time</a></li>
                                                    <li><a data-toggle="tab" href="#menu2">Graveyard Time</a></li>
                                                  </ul>

                                                  <div class="tab-content">
                                                    <div id="home" class="tab-pane fade in active">
                                                      <div class="row">
                                                        <div class="col-lg-12">
                                                            <hr>
                                                            <div class="panel panel-green">
                                                                <div class="panel-heading">
                                                                    <center><h4><b>DAY SHIFT (7AM - 3PM)</b></h4></center>
                                                                </div>
                                                                <div class="panel-body">
                                                                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTable1">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Date</th>
                                                                                <th>Employee Name</th>
                                                                                <th>Time In</th>
                                                                                <th>Time Out</th>
                                                                                <th>Work Duration</th>
                                                                                <th>Over Time</th>
                                                                                <th>Late By</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                           <tr ng-repeat="daylog in dayLog">
                                                                                <td>{{daylog.date}}</td>
                                                                                <td>{{daylog.employee_id.firstname}}</td>
                                                                                <td>{{daylog.logIn}}</td>
                                                                                <td>{{daylog.logOut || "N/A"}}</td>
                                                                                <td>N/A</td>
                                                                                <td>N/A</td>
                                                                                <td>N/A</td>
                                                                           </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div> 
                                                            </div>  
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div id="menu1" class="tab-pane fade">
                                                      <div class="row">
                                                        <div class="col-lg-12">
                                                            <hr>
                                                            <div class="panel panel-green">
                                                                <div class="panel-heading">
                                                                    <center><h4><b>Swing SHIFT (3PM - 11PM)</b></h4></center>
                                                                </div>
                                                                <div class="panel-body">

                                                                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTable2">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Date</th>
                                                                                <th>Employee Name</th>
                                                                                <th>Time In</th>
                                                                                <th>Time Out</th>
                                                                                <th>Work Duration</th>
                                                                                <th>Over Time</th>
                                                                                <th>Late By</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                           <tr ng-repeat="swinglog in swingLog">
                                                                                <td>{{swinglog.date}}</td>
                                                                                <td>{{swinglog.employee_id.firstname}}</td>
                                                                                <td>{{swinglog.logIn}}</td>
                                                                                <td>{{swinglog.logOut || "N/A"}}</td>
                                                                                <td>N/A</td>
                                                                                <td>N/A</td>
                                                                                <td>N/A</td>
                                                                           </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div> 
                                                            </div>  
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div id="menu2" class="tab-pane fade">
                                                      <div class="row">
                                                    <div class="col-lg-12">
                                                        <hr>
                                                        <div class="panel panel-green">
                                                            <div class="panel-heading">
                                                                <center><h4><b>GRAVEYARD SHIFT (11PM - 7AM)</b></h4></center>
                                                            </div>
                                                            <div class="panel-body">
                                                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTable3">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Date</th>
                                                                            <th>Employee Name</th>
                                                                            <th>Time In</th>
                                                                            <th>Time Out</th>
                                                                            <th>Work Duration</th>
                                                                            <th>Over Time</th>
                                                                            <th>Late By</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                       <tr ng-repeat="graveyardlog in graveLog">
                                                                                <td>{{graveyardlog.date}}</td>
                                                                                <td>{{graveyardlog.employee_id.firstname}}</td>
                                                                                <td>{{graveyardlog.logIn}}</td>
                                                                                <td>{{graveyardlog.logOut || "N/A"}}</td>
                                                                                <td>N/A</td>
                                                                                <td>N/A</td>
                                                                                <td>N/A</td>
                                                                           </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div> 
                                                        </div>                                                    
                                                    </div>
                                                </div> 
                                                    </div>
                                                  </div>
                                                </div>
                                                                                                               
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>                     
        </div>      
    </div>

    <div id="01modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-gear fa-fw"></i>Account Settings</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <% include changepassword/changepassword.ejs %>
            </div>       
          </div>
        </div>
      </div>
    </div>
    <div id="02modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-edit fa-fw"></i> Update Account</h2></center>
          </div>
          <div class="modal-body">  
            <div class="panel panel-default">
                <div class="panel-body">    
                    <form role="form">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Qualifier</label>
                                    <input class="form-control">
                                </div>
                            </div>                                                        
                        </div>   
                        <hr> 
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-2">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input class="form-control" placeholder="MM/DD/YYYY">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input class="form-control">
                                </div>
                            </div>                                                      
                        </div> <hr>
                        <div class="col-lg-12 col-lg-offset-11">   
                            <button class="btn btn-success" type="button">Save <i class="fa fa-save"></i></button>
                        </div>                                                                                                                      
                    </form>                                                                                                                                                   
                </div>
            </div>                
          </div>
        </div>
      </div>
    </div>    
    <div id="03modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-lock fa-fw"></i> Change Password</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">    
                    <% include changepassword/changepasswordform.ejs %>                                              
                </div>
            </div>            
          </div>
        </div>
      </div>
    </div> 
    <div id="viewac" class="modal fade" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-eye fa-fw"></i> View Account</h2></center>
          </div>
          <div class="modal-body">  
            <div class="panel panel-default">
                <div class="panel-body">    
                    <form role="form">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <p>Di</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <p>Matthew Louis</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <p>Roque</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Qualifier</label>
                                    <p>N/A</p>
                                </div>
                            </div>                                                        
                        </div>   
                        <hr> 
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-2">
                                <div class="form-group">
                                    <label>Username</label>
                                    <p>matthewlouisrdi@yahoo.com</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <p>matthewlouisrdi@yahoo.com</p>
                                </div>
                            </div>                                                      
                        </div>                                                                                                                      
                    </form>                                                                                                                                                   
                </div>
            </div>                
          </div>
        </div>
      </div>
    </div>   

    <div id="04modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-tasks"></i> Total Account(s)</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTable29">
                        <thead>
                            <tr>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Account Type</th>
                                <th>Date Created</th>
                                <th>Date Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>Matthew Louis R. Di </td>
                                <td>Admin</td>
                                <td>07/22/2017</td>
                                <td>07/22/2017</td>                                                         
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>Owen C. Payumo</td>
                                <td>Admin</td>
                                <td>07/22/2017</td>
                                <td>07/22/2017</td>                                                                                     
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>Arianne Gay C. Santos</td>
                                <td>Admin</td>
                                <td>07/22/2017</td>
                                <td>07/22/2017</td>                                                              
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>Antonina Cristina B. Pabalan</td>
                                <td>Admin</td>
                                <td>07/22/2017</td>
                                <td>07/22/2017</td>                                                               
                            </tr>
                        </tbody>
                    </table>                                               
                </div>                                                                                        
            </div>
          </div>
        </div>

      </div>
    </div>
    <div id="05modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-exclamation-circle"></i> Active Account(s)</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTable30">
                        <thead>
                            <tr>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Account Type</th>
                                <th>Date Created</th>
                                <th>Date Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>Matthew Louis R. Di </td>
                                <td>Admin</td>
                                <td>07/22/2017</td>
                                <td>07/22/2017</td>                                                         
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>Owen C. Payumo</td>
                                <td>Admin</td>
                                <td>07/22/2017</td>
                                <td>07/22/2017</td>                                                                                     
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>Arianne Gay C. Santos</td>
                                <td>Admin</td>
                                <td>07/22/2017</td>
                                <td>07/22/2017</td>                                                              
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>Antonina Cristina B. Pabalan</td>
                                <td>Admin</td>
                                <td>07/22/2017</td>
                                <td>07/22/2017</td>                                                               
                            </tr>
                        </tbody>
                    </table>                                               
                </div>                                                                                        
            </div>
          </div>
        </div>

      </div>
    </div>
    <div id="06modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-times-circle"></i> Disabled Account(s)</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTable31">
                        <thead>
                            <tr>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Account Type</th>
                                <th>Date Created</th>
                                <th>Date Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>Matthew Louis R. Di </td>
                                <td>Admin</td>
                                <td>07/22/2017</td>
                                <td>07/22/2017</td>                                                         
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>Owen C. Payumo</td>
                                <td>Admin</td>
                                <td>07/22/2017</td>
                                <td>07/22/2017</td>                                                                                     
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>Arianne Gay C. Santos</td>
                                <td>Admin</td>
                                <td>07/22/2017</td>
                                <td>07/22/2017</td>                                                              
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>Antonina Cristina B. Pabalan</td>
                                <td>Admin</td>
                                <td>07/22/2017</td>
                                <td>07/22/2017</td>                                                               
                            </tr>
                        </tbody>
                    </table>                                               
                </div>                                                                                        
            </div>
          </div>
        </div>

      </div>
    </div>
    <% include timemodal/timemodal.ejs %>
    <div id="notif" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-bell fa-fw"></i> All Notifications</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="list-group">
                    <a href="#SchedSwap" data-target="#SchedSwap" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Owen C. Payumo</b> requested for a schedule swap.
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#SchedSwap" data-target="#Leave" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#SchedSwap" data-target="#Leave" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>
                    <a href="#SchedSwap" data-target="#Leave" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>
                    <a href="#SchedSwap" data-target="#SchedSwap" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Owen C. Payumo</b> requested for a schedule swap.
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#Leave" data-target="#Leave" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#Leave" data-target="#Leave" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>
                    <a href="#Leave" data-target="#Leave" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>                                        
                </div>                                                                                      
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div id="SchedSwap" class="modal fade" role="dialog">
      <div class="modal-dialog modal-notif">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-refresh"></i> Schedule Swap Request</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">  
                    <form role="form">
                        <div class="row">
                            <center>
                            <h3><b>Application for Schedule Swap</b></h3>
                            </center>
                        </div><hr>                                          
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Employee ID Number</label>
                                    <p>14-0891-813</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <p>Matthew Louis R. Di</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Position</label>
                                    <p>Security Officer IV</p>
                                </div>
                            </div>     
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Location</label>
                                    <p>City Hall</p>
                                </div>
                            </div>                                                                                                      
                        </div><hr>                                              
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Swap Schedule with</label>
                                    <p>Owen C. Payumo</p>
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Number of Working Days Applied for</label>
                                    <p>3</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>From</label>
                                    <p>January 01, 2017</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>To</label>
                                    <p>January 03, 2017</p>
                                </div>
                            </div>                                                                            
                        </div><hr>  
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Reason for requesting a schedule swap</label>
                                    <p>Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla </p>
                                </div>
                            </div>                                                     
                        </div><hr>                                                                                            
                        <div class="col-lg-12">  
                            <center> 
                                <button class="btn btn-success" type="button">Approve <i class="fa fa-check"></i></button>
                                <button class="btn btn-danger" type="button">Decline <i class="fa fa-times"></i></button>
                            </center>
                        </div>               
                    </form>                                               
                </div>                                                                                        
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div id="Leave" class="modal fade" role="dialog">
      <div class="modal-dialog modal-notif">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-times"></i> Leave Request</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">  
                    <form role="form">
                        <div class="row">
                            <center>
                            <h3><b>Application for Leave</b></h3>
                            </center>
                        </div><hr>                                          
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Employee ID Number</label>
                                    <p>14-0891-813</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <p>Matthew Louis R. Di</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Position</label>
                                    <p>Security Officer IV</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Location</label>
                                    <p>City Hall</p>
                                </div>
                            </div>                                                                                                          
                        </div><hr>                                              
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Swap Schedule with</label>
                                    <p>Owen C. Payumo</p>
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Number of Working Days Applied for</label>
                                    <p>3</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>From</label>
                                    <p>January 01, 2017</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>To</label>
                                    <p>January 03, 2017</p>
                                </div>
                            </div>                                                                            
                        </div><hr>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label style="color:red">In case of vacation leave</label>
                                    <label>Where leave will be spent?</label>
                                    <p>Philippines</p>
                                </div>
                            </div>                                              
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label style="color:red">In case of sick leave</label>
                                    <label>Where leave will be spent?</label>
                                    <p>N/A</p>
                                </div>
                            </div> 
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label style="color:red">If other</label><br>
                                    <label>Reason for requesting a leave.</label>
                                    <p>N/A</p>
                                </div>
                            </div>                                                     
                        </div><hr>
                        <div class="col-lg-12">  
                            <center> 
                                <button class="btn btn-success" type="button">Approve <i class="fa fa-check"></i></button>
                                <button class="btn btn-danger" type="button">Decline <i class="fa fa-times"></i></button>
                            </center>
                        </div>              
                    </form>                                                
                </div>                                                                                        
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div id="readallmes" class="modal fade" role="dialog">
      <div class="modal-dialog modal-xlg">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-envelope fa-fw"></i> All Messages</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="list-group">
                    <a href="#mes" data-target="#mes" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Matthew Louis R. Di</b> <br><i>Subject:</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend.
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#mes" data-target="#mes" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Antonina Cristina B. Pabalan</b> <br><i>Subject:</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend.
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#mes" data-target="#mes" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Owen C. Payumo</b> <br><i>Subject:</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>
                    <a href="#mes" data-target="#mes" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> <br><i>Subject:</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. 
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>                                   
                </div>                                                                                      
            </div>
          </div>
        </div>
      </div>
    </div> 

    <% include requestModal/requestModal.ejs %>

    <div id="composemes" class="modal fade" role="dialog">
      <div class="modal-dialog modal-xlg">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-envelope"></i> Compose Message</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">  
                    <div class="row">                                 
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>Subject</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Recipient</label>
                            <select class="form-control">
                                <option>Antonina Cristina B. Pabalan</option>
                                <option>Arianne Gay C. Santos</option>
                                <option>Matthew Louis R. Di</option>
                                <option>Owen C. Payumo</option>
                            </select> 
                        </div>
                    </div>                      
                    <hr>
                    <div class="row"> 
                        <div class="col-lg-12">
                            <div class="form-group">
                              <label for="comment">Message Content:</label>
                              <textarea class="form-control" rows="10" id="comment"></textarea>
                            </div>
                        </div>
                    </div> 
                    <hr>
                    <center><button class="btn btn-success" type="button" data-toggle="modal" data-target="#composemes" data-dismiss="modal">Send <i class="fa fa-send"></i></button></center>
                </div>                                                                                        
            </div>
          </div>
        </div>
      </div>
    </div>     
    <script src="../bootstrap/vendor/jquery/jquery.min.js"></script>

    <script src="../bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="../bootstrap/vendor/metisMenu/metisMenu.min.js"></script>

    <script src="../bootstrap/vendor/raphael/raphael.min.js"></script>

    <script src="../bootstrap/vendor/morrisjs/morris.min.js"></script>

    <script src="../bootstrap/data/morris-data.js"></script>

    <script src="../bootstrap/dist/js/sb-admin-2.js"></script>

    <script src="../bootstrap/vendor/datatables/js/jquery.dataTables.min.js"></script>

    <script src="../bootstrap/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>

    <script src="../bootstrap/vendor/datatables-responsive/dataTables.responsive.js"></script>    

           
<script src="../js/dependencies/sails.io.js"></script>

<script>
    (function() {
        var app = angular.module('app', []);

        app.controller('appController', function($scope, $http,$compile) {

            $scope.userId = <%= req.session.User.id %>;
            $scope.employee = {};
            $scope.employee.fullname = "";

            $scope.changePassword = {};
            $scope.changePassword.oldPassword = "";
            $scope.changePassword.newPassword = "";
            $scope.changePassword.confirmPassword = "";

            $scope.empIdNumber = "";

            $scope.dayLog = "";
            $scope.swingLog = "";
            $scope.graveLog = "";

            $scope.logLocation = "7";


            $http.get('/employee/' + $scope.userId).then(function success(response) {
                $scope.employee = response.data;
                $scope.employee.fullname = response.data.lastname + ', ' +response.data.firstname + ' ' + response.data.middlename;


                console.log(response);
            }, function error(response) {
                console.log(response);
            });

            

            $scope.refreshLog = function() {
                $http.get('/employeedaylogs?location_id=' + $scope.logLocation).then(function success(response) {
                    $scope.dayLog = response.data;
                    $('#dataTable1').DataTable({
                            destroy: true,
                            responsive: true
                        }).destroy();
                    setTimeout(function(){
                        $('#dataTable1').DataTable({
                            destroy: true,
                            responsive: true
                        });
                    }, 500);
                    console.log(response);
                    
                }, function error(response) {
                    console.log(response);
                });

                $http.get('/employeeswinglogs?location_id=' + $scope.logLocation).then(function success(response) {
                    $scope.swingLog = response.data;
                    $('#dataTable2').DataTable({
                            destroy: true,
                            responsive: true
                        }).destroy();
                    setTimeout(function(){
                        $('#dataTable2').DataTable({
                            destroy: true,
                            responsive: true
                        });
                    }, 500);
                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });

                $http.get('/employeegravelogs?location_id=' + $scope.logLocation).then(function success(response) {
                    $scope.graveLog = response.data;
                    $('#dataTable3').DataTable({
                            destroy: true,
                            responsive: true
                        }).destroy();
                    setTimeout(function(){
                        $('#dataTable3').DataTable({
                            destroy: true,
                            responsive: true
                        });
                    }, 500);
                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });
            };

            $scope.refreshLog();

           
            $http.get('/employeeviewrequestleave/').then(function success(response) {

                var data = response.data;

                _.each(data, function(value, index) {
                    if(value.reqType == 'leave') {
                        $('#reqList').append($compile('<li>' + 
                                '<a href="#reqleave" ng-click="viewLeave(' + value.id + ')" data-target="#reqleave" data-toggle="modal">' +
                                    '<div style="width: 400px;">' +
                                        '<i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <strong>' + value.employee_id.lastname + ', ' + value.employee_id.firstname + ' ' + value.employee_id.middlename + '</strong>' +
                                        '<span class="pull-right text-muted">' +
                                            '<em>' + moment(value.createdAt).startOf('hour').fromNow() + '</em>' +
                                        '</span>' +
                                    '</div>' +
                                    '<div><b>Subject:</b>' + ' Request Leave' + '</div> ' +
                                '</a>' +
                        '</li>')($scope));
                    } else if(value.reqType == 'timekey'){
                        $('#reqList').append($compile('<li>' + 
                                '<a href="#reqleave" ng-click="viewTimekey(' + value.id + ')" data-target="#reqkey" data-toggle="modal">' +
                                    '<div style="width: 400px;">' +
                                        '<i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <strong>' + value.employee_id.lastname + ', ' + value.employee_id.firstname + ' ' + value.employee_id.middlename + '</strong>' +
                                        '<span class="pull-right text-muted">' +
                                            '<em>' + moment(value.createdAt).startOf('hour').fromNow() + '</em>' +
                                        '</span>' +
                                    '</div>' +
                                    '<div><b>Subject:</b>' + ' Request Time Key Change' + '</div> ' +
                                '</a>' +
                            '</li>')($scope));
                    }
                });

                

                
                console.log(response);
            }, function error(response) {
                console.log(response);
            });

            $scope.viewOneLeave = {};
            $scope.viewLeave = function(id) {
               $http.get('/employeeviewonerequestleave/' + id).then(function success(response) {
                    $scope.viewOneLeave = response.data;
                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });
            };

            $scope.acceptTimeKey= function(id) {

                var data = {};
                $http.post('/employeeaccepttimekey/' + id, data).then(function success(response) {

                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });
            };

            $scope.declineTimeKey= function(id) {

                var data = {};
                $http.post('/employeedeclinetimekey/' + id, data).then(function success(response) {

                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });
            };


            $scope.viewOneTimekey= {};
            $scope.viewTimekey = function(id) {
               $http.get('/employeerequestkeychange/' + id).then(function success(response) {
                    $scope.viewOneTimekey = response.data;
                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });
            };

            $scope.acceptLeave = function(id) {

                var data = {};
                $http.post('/employeeacceptrequestleave/' + id, data).then(function success(response) {

                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });
            };

            $scope.declineLeave = function(id) {

                var data = {};
                $http.post('/employeedeclinerequestleave/' + id, data).then(function success(response) {

                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });
            };

            $scope.changePasswordSubmit = function () {

                var data = {data: $scope.changePassword};

                $http.post('/user/changepassword/' + $scope.userId, data).then(function success(response) {
                    alert('Success');
                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });
            };
            
            $scope.logout = function () {

                $http.post('/logout').then(function success(response) {
                    window.location.href = '/';
                }, function error(response) {
                    console.log(response);
                });
            };

            $scope.clockIn = function () {

                //
                $http.post('/employee/clockin/' + $scope.empIdNumber).then(function success(response) {
                    //alert('log In: ' + $scope.empIdNumber);
                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });
            };

            $scope.clockOut = function () {

                
                $http.post('/employee/clockout/' + $scope.empIdNumber).then(function success(response) {
                   // alert('log Out: ' + $scope.empIdNumber);
                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });
            };

            io.socket.on('timeIn', function onServerSentEvent (msg) {
              //alert('someone time in', msg);
              console.log(msg);
              if(msg.status == 404) {
                alert(msg.employee_id + ' is still logged in.');
              } else {
                $scope.empIdNumber = "";
                alert(msg.employee_id + ' has logged in.');
                $http.get('/employeedaylogs?location_id=' + $scope.logLocation).then(function success(response) {
                    $scope.dayLog = response.data;
                    $('#dataTable1').DataTable({
                            destroy: true,
                            responsive: true
                        }).destroy();
                    setTimeout(function(){
                        $('#dataTable1').DataTable({
                            destroy: true,
                            responsive: true
                        });
                    }, 500);
                        console.log(response);
                    }, function error(response) {
                        console.log(response);
                    });

                    $http.get('/employeeswinglogs?location_id=' + $scope.logLocation).then(function success(response) {
                        $scope.swingLog = response.data;
                        $('#dataTable2').DataTable({
                            destroy: true,
                            responsive: true
                        }).destroy();
                    setTimeout(function(){
                        $('#dataTable2').DataTable({
                            destroy: true,
                            responsive: true
                        });
                    }, 500); 
                        console.log(response);
                    }, function error(response) {
                        console.log(response);
                    });

                    $http.get('/employeegravelogs?location_id=' + $scope.logLocation).then(function success(response) {
                        $scope.graveLog = response.data;
                        $('#dataTable3').DataTable({
                            destroy: true,
                            responsive: true
                        }).destroy();
                    setTimeout(function(){
                        $('#dataTable3').DataTable({
                            destroy: true,
                            responsive: true
                        });
                    }, 500);
                        console.log(response);
                    }, function error(response) {
                        console.log(response);
                    });
              };
            });

            io.socket.on('timeOut', function onServerSentEvent (msg) {
              //alert('someone time in', msg);
              console.log(msg);
              if(msg.status == 404) {
                alert(msg.employee_id + ' is not logged in.');
              } else {
                $scope.empIdNumber = "";
                alert(msg.employee_id + ' has logged out.');
                $http.get('/employeedaylogs?location_id=' + $scope.logLocation).then(function success(response) {
                    $scope.dayLog = response.data;
                    $('#dataTable1').DataTable({
                            destroy: true,
                            responsive: true
                        }).destroy();
                    setTimeout(function(){
                        $('#dataTable1').DataTable({
                            destroy: true,
                            responsive: true
                        });
                    }, 500);
                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });

                $http.get('/employeeswinglogs?location_id=' + $scope.logLocation).then(function success(response) {
                    $scope.swingLog = response.data;
                    $('#dataTable2').DataTable({
                            destroy: true,
                            responsive: true
                        }).destroy();
                    setTimeout(function(){
                        $('#dataTable2').DataTable({
                            destroy: true,
                            responsive: true
                        });
                    }, 500);
                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });

                $http.get('/employeegravelogs?location_id=' + $scope.logLocation).then(function success(response) {
                    $scope.graveLog = response.data;
                    $('#dataTable3').DataTable({
                            destroy: true,
                            responsive: true
                        }).destroy();
                    setTimeout(function(){
                        $('#dataTable3').DataTable({
                            destroy: true,
                            responsive: true
                        });
                    }, 500);
                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });
              };
            });

            io.socket.on('absentReport', function (msg) {
                console.log('Absent report: ' + JSON.stringify(msg));
                if(!msg) {
                    
                } else {
                    if(msg.employee_ids.length != 0) {
                        _.each(msg.employee_ids, function(value, index) {
                            $('#absentReportDiv').show();
                            $('#absentReportList').append('<li>' + value.employee_id.lastname + ', ' + value.employee_id.firstname + ' ' + value.employee_id.middlename + '</li>');
                        });
                    }
                    
                }
                
            });
            
        });
    })();
</script>
 <script>
    $(document).ready(function() {        
        
    });
    $(document).ready(function() {
        setTimeout(function(){
            $('#dataTable2').DataTable({
                destroy: true,
                responsive: true
            });
        }, 500);
    });
    $(document).ready(function() {
        setTimeout(function(){
            $('#dataTable3').DataTable({
                destroy: true,
                responsive: true
            });
        }, 500);
    });
    $(document).ready(function() {
        $('#dataTable4').DataTable({
            responsive: true
        });
    });
    $(document).ready(function() {
        $('#dataTable5').DataTable({
            responsive: true
        });
    });
    $(document).ready(function() {
        $('#dataTable6').DataTable({
            responsive: true
        });
    }); 
    $(document).ready(function() {
        $('#dataTable7').DataTable({
            responsive: true
        });
    });  
    $(document).ready(function() {
        $('#dataTable8').DataTable({
            responsive: true
        });
    }); 
    $(document).ready(function() {
        $('#dataTable9').DataTable({
            responsive: true
        });
    });
    $(document).ready(function() {
        $('#dataTable10').DataTable({
            responsive: true
        });
    });
    $(document).ready(function() {
        $('#dataTable11').DataTable({
            responsive: true
        });
    });
    $(document).ready(function() {
        $('#dataTable12').DataTable({
            responsive: true
        });
    });
    $(document).ready(function() {
        $('#dataTable13').DataTable({
            responsive: true
        });
    });
    $(document).ready(function() {
        $('#dataTable14').DataTable({
            responsive: true
        });
    }); 
    $(document).ready(function() {
        $('#dataTable15').DataTable({
            responsive: true
        });
    });  
    $(document).ready(function() {
        $('#dataTable16').DataTable({
            responsive: true
        });
    }); 
    $(document).ready(function() {
        $('#dataTable17').DataTable({
            responsive: true
        });
    });
    $(document).ready(function() {
        $('#dataTable18').DataTable({
            responsive: true
        });
    });
    $(document).ready(function() {
        $('#dataTable19').DataTable({
            responsive: true
        });
    });
    $(document).ready(function() {
        $('#dataTable20').DataTable({
            responsive: true
        });
    });
    $(document).ready(function() {
        $('#dataTable21').DataTable({
            responsive: true
        });
    });
    $(document).ready(function() {
        $('#dataTable22').DataTable({
            responsive: true
        });
    }); 
    $(document).ready(function() {
        $('#dataTable23').DataTable({
            responsive: true
        });
    });  
    $(document).ready(function() {
        $('#dataTable24').DataTable({
            responsive: true
        });
    }); 
    $(document).ready(function() {
        $('#dataTable25').DataTable({
            responsive: true
        });
    });
    $(document).ready(function() {
        $('#dataTable26').DataTable({
            responsive: true
        });
    }); 
    $(document).ready(function() {
        $('#dataTable27').DataTable({
            responsive: true
        });
    });  
    $(document).ready(function() {
        $('#dataTable28').DataTable({
            responsive: true
        });
    });
    $(document).ready(function() {
        $('#dataTable29').DataTable({
            responsive: true
        });
    }); 
    $(document).ready(function() {
        $('#dataTable30').DataTable({
            responsive: true
        });
    }); 
    $(document).ready(function() {
        $('#dataTable31').DataTable({
            responsive: true
        });
    });                          
    </script> 
</body>

</html>
