<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Angeles City Civilian Security Unit - Update Personal Profile</title>
    <script src="../angular/angular.js"></script>
    <link href="../bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="../bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <link href="../bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <link href="../bootstrap/vendor/morrisjs/morris.css" rel="stylesheet">

    <link href="../bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="assets/demo.css">
    
    <link rel="stylesheet" href="assets/form-basic.css">

</head>
<style>
html {
    overflow-x: hidden;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #404040;
  text-decoration: none;
}

.img-circle {
    background: #d9d9d9;
    padding: 1px; 
}

.navbar-nav > li > a{ 
    padding: 8px 8px 
}
.sidebar {
  border-radius: 0 !important;
  border:0 !important ;
}
.badge-notify{
   background:red;
   position:relative;
   top: -20px;
   left: -30px;
}
.modal-sm {
  width: 450px;
  margin-top: 30px;
}
.modal-md {
  width: 1050px;
  margin-top: 30px;
}
.modal-notif {
  width: 1200px;
  margin-top: 30px;
}
.modal-lg {
  width: 600px;
  margin-top: 30px;
}
.modal-xlg {
  width: 700px;
  margin-top: 30px;
}
</style>

<body ng-app="app" ng-controller="appController">

    <div id="wrapper" style="background-color:#262626;">
        <% include navbar/navbar.ejs %>    
            <br>
            <div style="background-color:#e6e6e6; padding-right: 20px; padding-left: 20px;"> 
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default" style="background-color:#ffffff">
                            <div class="panel-body">
                                <h1 class="page-header"><i class="fa fa-edit fa-fw"></i> Update Personal Profile</h1>  
                                <div class="panel panel-default">                                     
                                    <div class="panel-body">                                    
                                        <div class="col-lg-12">
                                            <div class="panel panel-green">
                                                <div class="panel-heading" style="padding-bottom: 1px; padding-top: 1px">
                                                    <center><h4><b>I. PERSONAL DATA</b></h4></center>
                                                </div>
                                                <div class="panel-body">
                                                    <form role="form" enctype="multipart/form-data">
                                                        <div class="row">
                                                            <div class="container-fluid text-center"> 
                                                            <img src="{{ data.employee.personal.image }}" class="img-circle" style="height:15%; width:15%;"><BR><BR>
                                                            <input type="file" id="fileInput" name="file" class="form-control" ng-model="data.employee.image" accept="image/*">
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Last Name</label>
                                                                    <input class="form-control" ng-model="data.employee.personal.lastname">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>First Name</label>
                                                                    <input class="form-control" ng-model="data.employee.personal.firstname">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Middle Name</label>
                                                                    <input class="form-control" ng-model="data.employee.personal.middlename">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Qualifier</label>
                                                                    <input class="form-control" ng-model="data.employee.personal.qualifier">
                                                                </div>
                                                            </div>                                                        
                                                        </div> 
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <label>Gender</label>
                                                                <select class="form-control" ng-model="data.employee.personal.gender">
                                                                    <option value="male">Male</option>
                                                                    <option value="female">Female</option>
                                                                </select> 
                                                            </div> 
                                                            <div class="col-lg-4">
                                                                <label>Religion</label>
                                                                <select class="form-control" ng-model="data.employee.personal.religion">
                                                                    <option value="baptist">Baptist</option>
                                                                    <option value="born again christian">Born Again Christian</option>
                                                                    <option value="buddhist">Buddhist</option>
                                                                    <option value="christian">Christian</option>
                                                                    <option value="christian catholic">Christian Catholic</option><option value="hindu">Hindu</option>
                                                                    <option value="iglesia ni cristo">Iglesia ni Cristo</option>
                                                                    <option value="islam">Islam</option>
                                                                    <option value="jewish">Jewish</option>
                                                                    <option value="mormon">Mormon</option>
                                                                    <option value="roman catholic">Roman Catholic</option>
                                                                    <option value="other">Other</option>
                                                                </select> 
                                                            </div> 
                                                            <div class="col-lg-4">
                                                                <label>Nationality</label>
                                                                <select class="form-control" ng-model="data.employee.personal.nationality">
                                                                    <option value="american">American</option>
                                                                    <option value="chinese">Chinese</option>
                                                                    <option value="filipino">Filipino</option>
                                                                    <option value="indian">Indian</option>
                                                                    <option value="japanese">Japanese</option>
                                                                    <option value="korean">Korean</option>
                                                                    <option value="other">Other</option>
                                                                </select> 
                                                            </div>                    
                                                        </div>   
                                                        <hr> 
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Date of Birth</label>
                                                                    <input class="form-control" placeholder="MM/DD/YYYY" ng-model="data.employee.personal.dob">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Place of Birth</label>
                                                                    <input class="form-control" ng-model="data.employee.personal.pob">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Civil Status</label>
                                                                    <input class="form-control" ng-model="data.employee.personal.civil_status">
                                                                </div>
                                                            </div>                                                       
                                                        </div>
                                                        <hr>  
                                                        <div class="row">
                                                            <div class="col-lg-4 col-lg-offset-2">
                                                                <div class="form-group">
                                                                    <label>Email Address</label>
                                                                    <input class="form-control" ng-model="data.employee.personal.email">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Mobile Number</label>
                                                                    <input class="form-control" ng-model="data.employee.personal.mobile_number">
                                                                </div>
                                                            </div>                                                      
                                                        </div>                                                                       
                                                    </form>                                               
                                                </div>
                                            </div>                   
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="panel panel-green">
                                                <div class="panel-heading" style="padding-bottom: 1px; padding-top: 1px">
                                                    <center><h4><b>II. RESIDENCE DATA</b></h4></center>
                                                </div>
                                                <div class="panel-body">
                                                    <form role="form">
                                                    <label style="color:red">Home Address</label>   
                                                        <div class="row">                                 
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Apartment Name/ House no./Street/ Baranggay</label>
                                                                    <input class="form-control" ng-model="data.employee.address.barangay">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>City/Municipality</label>
                                                                    <input class="form-control" ng-model="data.employee.address.municipality">
                                                                </div>
                                                            </div>                                                      
                                                        </div> 
                                                        <div class="row">                                 
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Province/State</label>
                                                                    <input class="form-control" ng-model="data.employee.address.province">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Country</label>
                                                                    <input class="form-control" ng-model="data.employee.address.country">
                                                                </div>
                                                            </div>      
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Zipcode</label>
                                                                    <input class="form-control" ng-model="data.employee.address.zip_code">
                                                                </div>
                                                            </div>                                                                                                          
                                                        </div>                                                     
                                                        <hr> 
                                                        <label style="color:red">Emergency Contact Address</label>   
                                                        <div class="row">  
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Contact Person name</label>
                                                                    <input class="form-control" ng-model="data.employee.emergency.contact_person">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Relation</label>
                                                                    <input class="form-control" ng-model="data.employee.emergency.relation">
                                                                </div>
                                                            </div>    
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Contact Number</label>
                                                                    <input class="form-control" ng-model="data.employee.emergency.contact_number">
                                                                </div>
                                                            </div>      
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Apartment Name/ House no./Street/ Baranggay</label>
                                                                    <input class="form-control" ng-model="data.employee.emergency.barangay">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>City/Municipality</label>
                                                                    <input class="form-control" ng-model="data.employee.emergency.municipality">
                                                                </div>
                                                            </div>                                                      
                                                        </div> 
                                                        <div class="row">                                 
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Province/State</label>
                                                                    <input class="form-control" ng-model="data.employee.emergency.province">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Country</label>
                                                                    <input class="form-control" ng-model="data.employee.emergency.country">
                                                                </div>
                                                            </div>      
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Zipcode</label>
                                                                    <input class="form-control" ng-model="data.employee.emergency.zip_code">
                                                                </div>
                                                            </div>                                                                                                           
                                                        </div>                                                                                                                       
                                                    </form>                                                                                               
                                                </div>                                            
                                            </div>   

                                            <div class="panel panel-green">
                                                <div class="panel-heading" style="padding-bottom: 1px; padding-top: 1px">
                                                    <center><h4><b>III. PHYSICAL DESCRIPTION</b></h4></center>
                                                </div>
                                                <div class="panel-body">
                                                    <form role="form">
                                                        <div class="row">
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Height (cm)</label>
                                                                    <input class="form-control" ng-model="data.employee.physical_description.height">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Weight (lbs)</label>
                                                                    <input class="form-control" ng-model="data.employee.physical_description.weight">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Built</label>
                                                                    <input class="form-control" ng-model="data.employee.physical_description.built">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Eye Color</label>
                                                                    <input class="form-control" ng-model="data.employee.physical_description.eye_color">
                                                                </div>
                                                            </div>  
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Hair Color</label>
                                                                    <input class="form-control" ng-model="data.employee.physical_description.hair_color">
                                                                </div>
                                                            </div>  
                                                            <div class="col-lg-2">
                                                                <label>Complexion</label>
                                                                <select class="form-control" ng-model="data.employee.physical_description.complexion">
                                                                    <option value="light">Light</option>
                                                                    <option value="light">Fair</option>
                                                                    <option value="light">Dark</option>
                                                                </select> 
                                                            </div>                                  
                                                        </div>                                                                      
                                                    </form>                                               
                                                </div>
                                            </div>   

                                            <div class="panel panel-green">
                                                <div class="panel-heading" style="padding-bottom: 1px; padding-top: 1px">
                                                    <center><h4><b>IV. FAMILY DATA</b></h4></center>
                                                </div>
                                                <div class="panel-body">
                                                    <form role="form">
                                                        <label style="color:red">Father</label>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Father's Name</label>
                                                                    <input class="form-control" ng-model="data.employee.parent[0].name">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Date of Birth</label>
                                                                    <input class="form-control" placeholder="MM/DD/YYYY" ng-model="data.employee.parent[0].dob">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Contact Number</label>
                                                                    <input class="form-control" ng-model="data.employee.parent[0].contact">
                                                                </div>
                                                            </div>                                
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Occupation</label>
                                                                    <input class="form-control" ng-model="data.employee.parent[0].occupation">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Company Name</label>
                                                                    <input class="form-control" ng-model="data.employee.parent[0].company_name">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Company Address</label>
                                                                    <input class="form-control" ng-model="data.employee.parent[0].company_address">
                                                                </div>
                                                            </div>                                
                                                        </div> 
                                                        <hr>
                                                        <label style="color:red">Mother</label>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Mother's Name</label>
                                                                    <input class="form-control" ng-model="data.employee.parent[1].name">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Date of Birth</label>
                                                                    <input class="form-control" placeholder="MM/DD/YYYY" ng-model="data.employee.parent[1].dob">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Contact Number</label>
                                                                    <input class="form-control" ng-model="data.employee.parent[1].contact">
                                                                </div>
                                                            </div>                                
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Occupation</label>
                                                                    <input class="form-control" ng-model="data.employee.parent[1].occupation">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Company Name</label>
                                                                    <input class="form-control" ng-model="data.employee.parent[1].company_name">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Company Address</label>
                                                                    <input class="form-control" ng-model="data.employee.parent[1].company_address">
                                                                </div>
                                                            </div>                                
                                                        </div> 
                                                        <hr>  
                                                        <label style="color:red">Brother(s)/Sister(s)</label>      
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Name</label>
                                                                    <input class="form-control" ng-model="data.employee.sibling[0].name">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Date of Birth</label>
                                                                    <input class="form-control" placeholder="MM/DD/YYYY" ng-model="data.employee.sibling[0].dob">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Course/Occupation</label>
                                                                    <input class="form-control" ng-model="data.employee.sibling[0].occupation">
                                                                </div>
                                                            </div> 
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>School/Company</label>
                                                                    <input class="form-control" ng-model="data.employee.sibling[0].company">
                                                                </div>
                                                            </div>                                                                                        
                                                        </div> 
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Name</label>
                                                                    <input class="form-control" ng-model="data.employee.sibling[1].name">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Date of Birth</label>
                                                                    <input class="form-control" placeholder="MM/DD/YYYY" ng-model="data.employee.sibling[1].dob">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Course/Occupation</label>
                                                                    <input class="form-control" ng-model="data.employee.sibling[1].occupation">
                                                                </div>
                                                            </div> 
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>School/Company</label>
                                                                    <input class="form-control" ng-model="data.employee.sibling[1].company">
                                                                </div>
                                                            </div>                                                                                        
                                                        </div>  
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Name</label>
                                                                    <input class="form-control" ng-model="data.employee.sibling[2].name">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Date of Birth</label>
                                                                    <input class="form-control" placeholder="MM/DD/YYYY" ng-model="data.employee.sibling[2].dob">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Course/Occupation</label>
                                                                    <input class="form-control" ng-model="data.employee.sibling[2].occupation">
                                                                </div>
                                                            </div> 
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>School/Company</label>
                                                                    <input class="form-control" ng-model="data.employee.sibling[2].company">
                                                                </div>
                                                            </div>                                                                                        
                                                        </div>  
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Name</label>
                                                                    <input class="form-control" ng-model="data.employee.sibling[3].name">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Date of Birth</label>
                                                                    <input class="form-control" placeholder="MM/DD/YYYY" ng-model="data.employee.sibling[3].dob">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Course/Occupation</label>
                                                                    <input class="form-control" ng-model="data.employee.sibling[3].occupation">
                                                                </div>
                                                            </div> 
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>School/Company</label>
                                                                    <input class="form-control" ng-model="data.employee.sibling[3].company">
                                                                </div>
                                                            </div>                                                                                        
                                                        </div>               
                                                    </form>                                               
                                                </div>
                                            </div>

                                            <div class="panel panel-green">
                                                <div class="panel-heading" style="padding-bottom: 1px; padding-top: 1px">
                                                    <center><h4><b>VI. EDUCATIONAL BACKGROUND</b></h4></center>
                                                </div>
                                                <div class="panel-body">
                                                    <form role="form">
                                                        <label style="color:red">Elementary</label>
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>School</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[0].school">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Course</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[0].course">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Year Graduated</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[0].year">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Honors/Awards</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[0].award">
                                                                </div>
                                                            </div>                                  
                                                        </div> 
                                                        <hr> 
                                                        <label style="color:red">Highschool</label>
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>School</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[1].school">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Course</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[1].course">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Year Graduated</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[1].year">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Honors/Awards</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[1].award">
                                                                </div>
                                                            </div>                                  
                                                        </div> 
                                                        <hr> 
                                                        <label style="color:red">College</label>
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>School</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[2].school">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Course</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[2].course">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Year Graduated</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[2].year">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Honors/Awards</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[2].award">
                                                                </div>
                                                            </div>                                  
                                                        </div> 
                                                        <hr> 
                                                        <label style="color:red">Post Graduate</label>
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>School</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[3].school">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Course</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[3].course">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Year Graduated</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[3].year">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Honors/Awards</label>
                                                                    <input class="form-control" ng-model="data.employee.education_background[3].award">
                                                                </div>
                                                            </div>                                  
                                                        </div> 
                                                        <hr>                                                                                               
                                                    </form>                                               
                                                </div>
                                            </div>                                                                                               
                                        </div> 
                                        <div class="col-lg-12 col-lg-offset-11">   
                                            <button class="btn btn-success" type="button" id="saveButton" ng-click="submit()">Save <i class="fa fa-save"></i></button>
                                        </div> 
                                    </BR>                                                                       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>                     
        </div>  
    </div>

    <div id="01modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-gear fa-fw"></i>Account Settings</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">    
                    <center>
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#viewac" data-dismiss="modal">View Account <i class="fa fa-eye fa-fw"></i></button><hR>
                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#02modal" data-dismiss="modal">Update Account <i class="fa fa-edit fa-fw"></i></button>
                    <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#03modal" data-dismiss="modal">Change Password <i class="fa fa-lock fa-fw"></i></button>
                    </center> 
                </div>
            </div>       
          </div>
        </div>
      </div>
    </div>
    <div id="02modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-edit fa-fw"></i> Update Account</h2></center>
          </div>
          <div class="modal-body">  
            <div class="panel panel-default">
                <div class="panel-body">    
                    <form role="form">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Qualifier</label>
                                    <input class="form-control">
                                </div>
                            </div>                                                        
                        </div>   
                        <hr> 
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-2">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input class="form-control" placeholder="MM/DD/YYYY">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input class="form-control">
                                </div>
                            </div>                                                      
                        </div> <hr>
                        <div class="col-lg-12 col-lg-offset-11">   
                            <button class="btn btn-success" type="button">Save <i class="fa fa-save"></i></button>
                        </div>                                                                                                                      
                    </form>                                                                                                                                                   
                </div>
            </div>                
          </div>
        </div>
      </div>
    </div>    
    <div id="03modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-lock fa-fw"></i> Change Password</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">    
                    <form role="form">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Enter Current Password</label>
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Enter New Password</label>
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Confirm New Password</label>
                                    <input class="form-control"><hr>  
                                </div>
                            </div>                                                   
                        <div class="col-lg-12 col-lg-offset-9">   
                            <button class="btn btn-success" type="button">Save <i class="fa fa-save"></i></button>
                        </div>                                                                                                                      
                    </form>                                               
                </div>
            </div>            
          </div>
        </div>
      </div>
    </div> 
    <div id="viewac" class="modal fade" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-eye fa-fw"></i> View Account</h2></center>
          </div>
          <div class="modal-body">  
            <div class="panel panel-default">
                <div class="panel-body">    
                    <form role="form">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <p>Di</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <p>Matthew Louis</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <p>Roque</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Qualifier</label>
                                    <p>N/A</p>
                                </div>
                            </div>                                                        
                        </div>   
                        <hr> 
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-2">
                                <div class="form-group">
                                    <label>Username</label>
                                    <p>matthewlouisrdi@yahoo.com</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <p>matthewlouisrdi@yahoo.com</p>
                                </div>
                            </div>                                                      
                        </div>                                                                                                                      
                    </form>                                                                                                                                                   
                </div>
            </div>                
          </div>
        </div>
      </div>
    </div>     
    <div id="07modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-check"></i> Time-in Successful!</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">  
                    <center><h3>Time: 01:23AM</h3>
                    <h3>Date: September 2, 2017</h3></center>
                </div>                                                                                        
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div id="notif" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-bell fa-fw"></i> All Notifications</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="list-group">
                    <a href="#SchedSwap" data-target="#SchedSwap" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Owen C. Payumo</b> requested for a schedule swap.
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#SchedSwap" data-target="#Leave" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#SchedSwap" data-target="#Leave" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>
                    <a href="#SchedSwap" data-target="#Leave" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>
                    <a href="#SchedSwap" data-target="#SchedSwap" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Owen C. Payumo</b> requested for a schedule swap.
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#Leave" data-target="#Leave" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#Leave" data-target="#Leave" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>
                    <a href="#Leave" data-target="#Leave" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>                                        
                </div>                                                                                      
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div id="SchedSwap" class="modal fade" role="dialog">
      <div class="modal-dialog modal-notif">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-refresh"></i> Schedule Swap Request</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">  
                    <form role="form">
                        <div class="row">
                            <center>
                            <h3><b>Application for Schedule Swap</b></h3>
                            </center>
                        </div><hr>                                          
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Employee ID Number</label>
                                    <p>14-0891-813</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <p>Matthew Louis R. Di</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Position</label>
                                    <p>Security Officer IV</p>
                                </div>
                            </div>     
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Location</label>
                                    <p>City Hall</p>
                                </div>
                            </div>                                                                                                      
                        </div><hr>                                              
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Swap Schedule with</label>
                                    <p>Owen C. Payumo</p>
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Number of Working Days Applied for</label>
                                    <p>3</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>From</label>
                                    <p>January 01, 2017</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>To</label>
                                    <p>January 03, 2017</p>
                                </div>
                            </div>                                                                            
                        </div><hr>  
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Reason for requesting a schedule swap</label>
                                    <p>Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla </p>
                                </div>
                            </div>                                                     
                        </div><hr>                                                                                            
                        <div class="col-lg-12">  
                            <center> 
                                <button class="btn btn-success" type="button">Approve <i class="fa fa-check"></i></button>
                                <button class="btn btn-danger" type="button">Decline <i class="fa fa-times"></i></button>
                            </center>
                        </div>               
                    </form>                                               
                </div>                                                                                        
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div id="Leave" class="modal fade" role="dialog">
      <div class="modal-dialog modal-notif">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-times"></i> Leave Request</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">  
                    <form role="form">
                        <div class="row">
                            <center>
                            <h3><b>Application for Leave</b></h3>
                            </center>
                        </div><hr>                                          
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Employee ID Number</label>
                                    <p>14-0891-813</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <p>Matthew Louis R. Di</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Position</label>
                                    <p>Security Officer IV</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Location</label>
                                    <p>City Hall</p>
                                </div>
                            </div>                                                                                                          
                        </div><hr>                                              
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Swap Schedule with</label>
                                    <p>Owen C. Payumo</p>
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Number of Working Days Applied for</label>
                                    <p>3</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>From</label>
                                    <p>January 01, 2017</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>To</label>
                                    <p>January 03, 2017</p>
                                </div>
                            </div>                                                                            
                        </div><hr>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label style="color:red">In case of vacation leave</label>
                                    <label>Where leave will be spent?</label>
                                    <p>Philippines</p>
                                </div>
                            </div>                                              
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label style="color:red">In case of sick leave</label>
                                    <label>Where leave will be spent?</label>
                                    <p>N/A</p>
                                </div>
                            </div> 
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label style="color:red">If other</label><br>
                                    <label>Reason for requesting a leave.</label>
                                    <p>N/A</p>
                                </div>
                            </div>                                                     
                        </div><hr>
                        <div class="col-lg-12">  
                            <center> 
                                <button class="btn btn-success" type="button">Approve <i class="fa fa-check"></i></button>
                                <button class="btn btn-danger" type="button">Decline <i class="fa fa-times"></i></button>
                            </center>
                        </div>              
                    </form>                                                
                </div>                                                                                        
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div id="readallmes" class="modal fade" role="dialog">
      <div class="modal-dialog modal-xlg">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-envelope fa-fw"></i> All Messages</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="list-group">
                    <a href="#mes" data-target="#mes" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Matthew Louis R. Di</b> <br><i>Subject:</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend.
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#mes" data-target="#mes" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Antonina Cristina B. Pabalan</b> <br><i>Subject:</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend.
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#mes" data-target="#mes" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Owen C. Payumo</b> <br><i>Subject:</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>
                    <a href="#mes" data-target="#mes" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> <br><i>Subject:</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. 
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>                                   
                </div>                                                                                      
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div id="mes" class="modal fade" role="dialog">
      <div class="modal-dialog modal-xlg">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-envelope"></i> Message</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">  
                    <h3>Subject of the message</h3>
                    <h5>From: Matthew Louis R. Di</h5>  
                    <hr>  
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend.</p>  
                    <hr>
                    <center><button class="btn btn-success" type="button" data-toggle="modal" data-target="#composemes" data-dismiss="modal">Reply <i class="fa fa-send"></i></button></center>
                </div>                                                                                        
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div id="composemes" class="modal fade" role="dialog">
      <div class="modal-dialog modal-xlg">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-envelope"></i> Compose Message</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">  
                    <div class="row">                                 
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>Subject</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Recipient</label>
                            <select class="form-control">
                                <option>Antonina Cristina B. Pabalan</option>
                                <option>Arianne Gay C. Santos</option>
                                <option>Matthew Louis R. Di</option>
                                <option>Owen C. Payumo</option>
                            </select> 
                        </div>
                    </div>                      
                    <hr>
                    <div class="row"> 
                        <div class="col-lg-12">
                            <div class="form-group">
                              <label for="comment">Message Content:</label>
                              <textarea class="form-control" rows="10" id="comment"></textarea>
                            </div>
                        </div>
                    </div> 
                    <hr>
                    <center><button class="btn btn-success" type="button" data-toggle="modal" data-target="#composemes" data-dismiss="modal">Send <i class="fa fa-send"></i></button></center>
                </div>                                                                                        
            </div>
          </div>
        </div>
      </div>
    </div>    
    <script src="../bootstrap/vendor/jquery/jquery.min.js"></script>

    <script src="../bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="../bootstrap/vendor/metisMenu/metisMenu.min.js"></script>

    <script src="../bootstrap/vendor/raphael/raphael.min.js"></script>

    <script src="../bootstrap/vendor/morrisjs/morris.min.js"></script>

    <script src="../bootstrap/data/morris-data.js"></script>

    <script src="../bootstrap/dist/js/sb-admin-2.js"></script>
<script>
    (function() {
        var app = angular.module('app', []);

        app.controller('appController', function($scope, $http) {

            $scope.userId = <%= req.session.User.id %>;
            $scope.employee = {};
            $scope.employee.fullname = "";

            $scope.data = {};
            $scope.data.employee = {};
            $scope.data.employee.personal = {};
            $scope.data.employee.address = {};
            $scope.data.employee.emergency = {};
            $scope.data.employee.physical_description = {};
            $scope.data.employee.parent = [];
            $scope.data.employee.sibling = [];
            $scope.data.employee.education_background = [];
            

            $http.get('/employee/' + $scope.userId).then(function success(response) {
                $scope.employee = response.data;
                $scope.employee.fullname = response.data.lastname + ', ' +response.data.firstname + ' ' + response.data.middlename;
                

                $scope.data.employee.personal.firstname = $scope.employee.firstname;
                $scope.data.employee.personal.middlename = $scope.employee.middlename;
                $scope.data.employee.personal.lastname = $scope.employee.lastname;
                $scope.data.employee.personal.qualifier = $scope.employee.qualifier;
                $scope.data.employee.personal.gender = $scope.employee.gender;
                $scope.data.employee.personal.religion = $scope.employee.religion;
                $scope.data.employee.personal.nationality = $scope.employee.nationality;
                $scope.data.employee.personal.dob = $scope.employee.dob;
                $scope.data.employee.personal.pob = $scope.employee.pob;
                $scope.data.employee.personal.civil_status = $scope.employee.civil_status;
                $scope.data.employee.personal.email = $scope.employee.email;
                $scope.data.employee.personal.mobile_number = $scope.employee.mobile_number;
                $scope.data.employee.personal.image = $scope.employee.image;

                $scope.data.employee.address.barangay = $scope.employee.address[0].barangay;
                $scope.data.employee.address.municipality = $scope.employee.address[0].municipality;
                $scope.data.employee.address.province = $scope.employee.address[0].province;
                $scope.data.employee.address.country = $scope.employee.address[0].country;
                $scope.data.employee.address.zip_code = $scope.employee.address[0].zip_code;

                $scope.data.employee.emergency.contact_person = $scope.employee.emergency[0].contact_person;
                $scope.data.employee.emergency.relation = $scope.employee.emergency[0].relation;
                $scope.data.employee.emergency.contact_number = $scope.employee.emergency[0].contact_number;
                $scope.data.employee.emergency.barangay = $scope.employee.emergency[0].barangay;
                $scope.data.employee.emergency.municipality = $scope.employee.emergency[0].municipality;
                $scope.data.employee.emergency.province = $scope.employee.emergency[0].province;
                $scope.data.employee.emergency.country = $scope.employee.emergency[0].country;
                $scope.data.employee.emergency.zip_code = $scope.employee.emergency[0].zip_code;

                $scope.data.employee.physical_description.height = $scope.employee.physical_description[0].height;
                $scope.data.employee.physical_description.weight = $scope.employee.physical_description[0].weight;
                $scope.data.employee.physical_description.built = $scope.employee.physical_description[0].built;
                $scope.data.employee.physical_description.eye_color = $scope.employee.physical_description[0].eye_color;
                $scope.data.employee.physical_description.hair_color = $scope.employee.physical_description[0].hair_color;
                $scope.data.employee.physical_description.complexion = $scope.employee.physical_description[0].complexion;

                var father = {
                    id: $scope.employee.parent[0].id,
                    parent_type: $scope.employee.parent[0].parent_type,
                    name: $scope.employee.parent[0].name,
                    dob: $scope.employee.parent[0].dob,
                    occupation: $scope.employee.parent[0].occupation,
                    contact: $scope.employee.parent[0].contact,
                    company_name: $scope.employee.parent[0].company_name,
                    company_address: $scope.employee.parent[0].company_address
                };

                $scope.data.employee.parent.push(father);


                var mother = {
                    id: $scope.employee.parent[1].id,
                    parent_type: $scope.employee.parent[1].parent_type,
                    name: $scope.employee.parent[1].name,
                    dob: $scope.employee.parent[1].dob,
                    occupation: $scope.employee.parent[1].occupation,
                    contact: $scope.employee.parent[1].contact,
                    company_name: $scope.employee.parent[1].company_name,
                    company_address: $scope.employee.parent[1].company_address
                };
                
                $scope.data.employee.parent.push(mother);

                var sibling = [
                    {
                        id: $scope.employee.sibling[0].id,
                        name: $scope.employee.sibling[0].name,
                        dob: $scope.employee.sibling[0].dob,
                        occupation: $scope.employee.sibling[0].occupation,
                        company: $scope.employee.sibling[0].company
                    },
                    {
                        id: $scope.employee.sibling[1].id,
                        name: $scope.employee.sibling[1].name,
                        dob: $scope.employee.sibling[1].dob,
                        occupation: $scope.employee.sibling[1].occupation,
                        company: $scope.employee.sibling[1].company
                    },
                    {
                        id: $scope.employee.sibling[2].id,
                        name: $scope.employee.sibling[2].name,
                        dob: $scope.employee.sibling[2].dob,
                        occupation: $scope.employee.sibling[2].occupation,
                        company: $scope.employee.sibling[2].company
                    },
                    {
                        id: $scope.employee.sibling[3].id,
                        name: $scope.employee.sibling[3].name,
                        dob: $scope.employee.sibling[3].dob,
                        occupation: $scope.employee.sibling[3].occupation,
                        company: $scope.employee.sibling[3].company
                    }
                ];

                $scope.data.employee.sibling.push(sibling[0]);
                $scope.data.employee.sibling.push(sibling[1]);
                $scope.data.employee.sibling.push(sibling[2]);
                $scope.data.employee.sibling.push(sibling[3]);

                var education = [
                    {
                        id: $scope.employee.education_background[0].id,
                        education_type: $scope.employee.education_background[0].education_type,
                        school: $scope.employee.education_background[0].school,
                        course: $scope.employee.education_background[0].course,
                        year: $scope.employee.education_background[0].year,
                        award: $scope.employee.education_background[0].award
                    },
                    {
                        id: $scope.employee.education_background[1].id,
                        education_type: $scope.employee.education_background[1].education_type,
                        school: $scope.employee.education_background[1].school,
                        course: $scope.employee.education_background[1].course,
                        year: $scope.employee.education_background[1].year,
                        award: $scope.employee.education_background[1].award
                    },
                    {
                        id: $scope.employee.education_background[2].id,
                        education_type: $scope.employee.education_background[2].education_type,
                        school: $scope.employee.education_background[2].school,
                        course: $scope.employee.education_background[2].course,
                        year: $scope.employee.education_background[2].year,
                        award: $scope.employee.education_background[2].award
                    },
                    {
                        id: $scope.employee.education_background[3].id,
                        education_type: $scope.employee.education_background[3].education_type,
                        school: $scope.employee.education_background[3].school,
                        course: $scope.employee.education_background[3].course,
                        year: $scope.employee.education_background[3].year,
                        award: $scope.employee.education_background[3].award
                    }
                ];

                $scope.data.employee.education_background.push(education[0]);
                $scope.data.employee.education_background.push(education[1]);
                $scope.data.employee.education_background.push(education[2]);
                $scope.data.employee.education_background.push(education[3]);



            }, function error(response) {
                console.log(response);
            });

            $scope.submit = function () {
                //$('#saveButton').attr("disabled", true);
                var fd = new FormData();           
                fd.append('data', JSON.stringify($scope.data));
                fd.append('file', $("#fileInput")[0].files[0]);
                $http.put('/employee/' + $scope.userId, fd, {transformRequest: angular.identity,headers:{"Content-Type": undefined
            }}).then(function success(response) {
                    //alert('Success');
                   // window.location.href = '/sadmin/viewpersonalprofile';
                }, function error(response) {
                    alert('Error updating profile.');
                });
            };
            
            $scope.logout = function () {

                $http.post('/logout').then(function success(response) {
                    window.location.href = '/';
                }, function error(response) {
                    console.log(response);
                });
            };
            
        });
    })();
</script>
</body>

</html>
