<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Angeles City Civilian Security Unit - View Personal Profile</title>
    <script src="../angular/angular.js"></script>
    <link href="../bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="../bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <link href="../bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <link href="../bootstrap/vendor/morrisjs/morris.css" rel="stylesheet">

    <link href="../bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>
<style>
@media print {

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  float: left;
}
.col-lg-12 {
  width: 100%;
}
.col-lg-11 {
  width: 91.66666666666666%;
}
.col-lg-10 {
  width: 83.33333333333334%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-8 {
  width: 66.66666666666666%;
}
.col-lg-7 {
  width: 58.333333333333336%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-5 {
  width: 41.66666666666667%;
}
.col-lg-4 {
  width: 33.33333333333333%;
 }
 .col-lg-3 {
   width: 25%;
 }
 .col-lg-2 {
   width: 16.666666666666664%;
 }
 .col-lg-1 {
  width: 8.333333333333332%;
 }

  }

@page{
margin-left: 2cm;
margin-right: 2cm;
margin-top: 2cm;
margin-bottom: 2cm;
}

html {
    overflow-x: hidden;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #404040;
  text-decoration: none;
}

.img-circle {
    background: #d9d9d9;
    padding: 1px; 
}

.navbar-nav > li > a{ 
    padding: 8px 8px 
}
.sidebar {
  border-radius: 0 !important;
  border:0 !important ;
}
.badge-notify{
   background:red;
   position:relative;
   top: -20px;
   left: -30px;
}
.modal-sm {
  width: 450px;
  margin-top: 30px;
}
.modal-md {
  width: 1050px;
  margin-top: 30px;
}
.modal-notif {
  width: 1200px;
  margin-top: 30px;
}
.modal-lg {
  width: 600px;
  margin-top: 30px;
}
.modal-xlg {
  width: 700px;
  margin-top: 30px;
}
</style>
<script>
    function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;
     document.title= "Civil Security Unit of Angeles City";
     document.footer="";
     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>
<body ng-app="app" ng-controller="appController">

    <div id="wrapper" style="background-color:#262626;">
        <% include navbar/navbar.ejs %>   
            <br>
            <div style="background-color:#e6e6e6; padding-right: 20px; padding-left: 20px;"> 
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default" style="background-color:#ffffff">
                            <div class="panel-body">
                                <h1 class="page-header"><i class="fa fa-eye fa-fw"></i> View Personal Profile</h1>   
                                <div id="printableArea"> 
                                    <div class="panel panel-default">                                     
                                        <div class="panel-body">                                   
                                        <div class="col-lg-12">
                                            <div class="panel panel-green">
                                                <div class="panel-heading" style="padding-bottom: 1px; padding-top: 1px">
                                                    <center><h4><b>I. PERSONAL DATA</b></h4></center>
                                                </div>
                                                <div class="panel-body">
                                                    <form role="form">
                                                        <div class="row">
                                                            <div class="container-fluid text-center"> 
                                                            <img src="../images/{{ employee.image }}" class="img-circle" style="height:15%; width:15%;"><hr>
                                                            </div>
                                                        </div>                                                
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Last Name</label>
                                                                    <p>{{employee.lastname}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>First Name</label>
                                                                    <p>{{employee.firstname}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Middle Name</label>
                                                                    <p>{{employee.middlename || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Qualifier</label>
                                                                    <p>{{employee.qualifier || 'N/A'}}</p>
                                                                </div>
                                                            </div>                                                        
                                                        </div> 
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <label>Gender</label>
                                                                <p>{{employee.gender || 'N/A'}}</p>
                                                            </div> 
                                                            <div class="col-lg-4">
                                                                <label>Religion</label>
                                                                <p>{{employee.religion || 'N/A'}}</p>
                                                            </div> 
                                                            <div class="col-lg-4">
                                                                <label>Nationality</label>
                                                                <p>{{employee.nationality || 'N/A'}}</p>
                                                            </div>                    
                                                        </div>   
                                                        <hr> 
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Date of Birth</label>
                                                                    <p>{{employee.dob || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Place of Birth</label>
                                                                    <p>{{employee.pob || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Civil Status</label>
                                                                    <p>{{employee.civil_status || 'N/A'}}</p>
                                                                </div>
                                                            </div>                                                       
                                                        </div>
                                                        <hr>  
                                                        <div class="row">
                                                            <div class="col-lg-4 col-lg-offset-2">
                                                                <div class="form-group">
                                                                    <label>Email Address</label>
                                                                    <p>{{employee.email || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Mobile Number</label>
                                                                    <p>{{employee.mobile_number || 'N/A'}}</p>
                                                                </div>
                                                            </div>                                                      
                                                        </div>                                                                       
                                                    </form>                                               
                                                </div>
                                            </div>                   
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="panel panel-green">
                                                <div class="panel-heading" style="padding-bottom: 1px; padding-top: 1px">
                                                    <center><h4><b>II. RESIDENCE DATA</b></h4></center>
                                                </div>
                                                <div class="panel-body">
                                                    <form role="form">
                                                    <label style="color:red">Home Address</label>   
                                                        <div class="row">                                 
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Apartment Name/ House no./Street/ Baranggay</label>
                                                                    <p>{{employee.address[0].barangay || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>City/Municipality</label>
                                                                    <p>{{employee.address[0].municipality || 'N/A'}}</p>
                                                                </div>
                                                            </div>                                                      
                                                        </div> 
                                                        <div class="row">                                 
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Province/State</label>
                                                                    <p>{{employee.address[0].province || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Country</label>
                                                                    <p>{{employee.address[0].country || 'N/A'}}</p>
                                                                </div>
                                                            </div>      
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Zipcode</label>
                                                                    <p>{{employee.address[0].zip_code || 'N/A'}}</p>
                                                                </div>
                                                            </div>                                                                                                          
                                                        </div>                                                     
                                                        <hr> 
                                                        <label style="color:red">Emergency Contact Address</label>   
                                                        <div class="row">  
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Contact Person name</label>
                                                                    <p>{{employee.emergency[0].contact_person || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Relation</label>
                                                                    <p>{{employee.emergency[0].relation || 'N/A'}}</p>
                                                                </div>
                                                            </div>    
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Contact Number</label>
                                                                    <p>{{employee.emergency[0].contact_number || 'N/A'}}</p>
                                                                </div>
                                                            </div>      
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Apartment Name/ House no./Street/ Baranggay</label>
                                                                    <p>{{employee.emergency[0].barangay || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>City/Municipality</label>
                                                                    <p>{{employee.emergency[0].municipality || 'N/A'}}</p>
                                                                </div>
                                                            </div>                                                      
                                                        </div> 
                                                        <div class="row">                                 
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Province/State</label>
                                                                    <p>{{employee.emergency[0].province || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Country</label>
                                                                    <p>{{employee.emergency[0].country || 'N/A'}}</p>
                                                                </div>
                                                            </div>      
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Zipcode</label>
                                                                    <p>{{employee.emergency[0].zip_code || 'N/A'}}</p>
                                                                </div>
                                                            </div>                                                                                                           
                                                        </div>                                                                                                                       
                                                    </form>                                                                                               
                                                </div>                                            
                                            </div>   

                                            <div class="panel panel-green">
                                                <div class="panel-heading" style="padding-bottom: 1px; padding-top: 1px">
                                                    <center><h4><b>III. PHYSICAL DESCRIPTION</b></h4></center>
                                                </div>
                                                <div class="panel-body">
                                                    <form role="form">
                                                        <div class="row">
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Height (cm)</label>
                                                                    <p>{{employee.physical_description[0].height || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Weight (lbs)</label>
                                                                    <p>{{employee.physical_description[0].weight || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Built</label>
                                                                    <p>{{employee.physical_description[0].built || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Eye Color</label>
                                                                    <p>{{employee.physical_description[0].eye_color || 'N/A'}}</p>
                                                                </div>
                                                            </div>  
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Hair Color</label>
                                                                    <p>{{employee.physical_description[0].hair_color || 'N/A'}}</p>
                                                                </div>
                                                            </div>  
                                                            <div class="col-lg-2">
                                                                <label>Complexion</label>
                                                                <p>{{employee.physical_description[0].complexion || 'N/A'}}</p>
                                                            </div>                                  
                                                        </div>                                                                      
                                                    </form>                                               
                                                </div>
                                            </div>   

                                            <div class="panel panel-green">
                                                <div class="panel-heading" style="padding-bottom: 1px; padding-top: 1px">
                                                    <center><h4><b>IV. FAMILY DATA</b></h4></center>
                                                </div>
                                                <div class="panel-body">
                                                    <form role="form">
                                                        <label style="color:red">Father</label>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Father's Name</label>
                                                                    <p>{{employee.parent[0].name || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Date of Birth</label>
                                                                    <p>{{employee.parent[0].dob || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Contact Number</label>
                                                                    <p>{{employee.parent[0].contact || 'N/A'}}</p>
                                                                </div>
                                                            </div>                                
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Occupation</label>
                                                                    <p>{{employee.parent[0].occupation || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Company Name</label>
                                                                    <p>{{employee.parent[0].company_name || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Company Address</label>
                                                                    <p>{{employee.parent[0].company_address || 'N/A'}}</p>
                                                                </div>
                                                            </div>                                
                                                        </div> 
                                                        <hr>
                                                        <label style="color:red">Mother</label>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Mother's Name</label>
                                                                    <p>{{employee.parent[1].name || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Date of Birth</label>
                                                                    <p>{{employee.parent[1].dob || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Contact Number</label>
                                                                    <p>{{employee.parent[1].contact || 'N/A'}}</p>
                                                                </div>
                                                            </div>                                
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Occupation</label>
                                                                    <p>{{employee.parent[1].occupation || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Company Name</label>
                                                                    <p>{{employee.parent[1].company_name || 'N/A'}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Company Address</label>
                                                                    <p>{{employee.parent[1].company_address || 'N/A'}}</p>
                                                                </div>
                                                            </div>                                
                                                        </div> 
                                                        <hr>  
                                                        <label style="color:red">Brother(s)/Sister(s)</label>      
                                                        <div class="row" ng-repeat="sibling in employee.sibling">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Name</label>
                                                                    <p>{{ sibling.name || "N/A"}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Date of Birth</label>
                                                                    <p>{{ sibling.dob || "N/A"}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Course/Occupation</label>
                                                                    <p>{{ sibling.occupation || "N/A"}}</p>
                                                                </div>
                                                            </div> 
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>School/Company</label>
                                                                    <p>{{ sibling.company || "N/A"}}</p>
                                                                </div>
                                                            </div>                                                                                        
                                                        </div>              
                                                    </form>                                               
                                                </div>
                                            </div>

                                            <div class="panel panel-green">
                                                <div class="panel-heading" style="padding-bottom: 1px; padding-top: 1px">
                                                    <center><h4><b>VI. EDUCATIONAL BACKGROUND</b></h4></center>
                                                </div>
                                                <div class="panel-body">
                                                    <form role="form" ng-repeat="school in employee.education_background">
                                                    <div ng-switch="school.education_type">
                                                        <label style="color:red" ng-switch-when="elementary">Elementary</label>
                                                        <label style="color:red" ng-switch-when="highschool">Highschool</label>
                                                        <label style="color:red" ng-switch-when="college">College</label>
                                                        <label style="color:red" ng-switch-when="post_graduate">Post graduate</label>
                                                        <label style="color:red" ng-switch-default>test</label>
                                                    </div>
                                                        
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>School</label>
                                                                    <p>{{ school.school || "N/A"}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Course</label>
                                                                    <p>{{ school.course || "N/A"}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Year Graduated</label>
                                                                    <p>{{ school.year || "N/A"}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Honors/Awards</label>
                                                                    <p>{{ school.award || "N/A"}}</p>
                                                                </div>
                                                            </div>                                  
                                                        </div> 
                                                    </form>
                                                                                                       
                                                </div>
                                            </div>                                                                                               
                                        </div> 
                                        </div>
                                    </div>
                                </div>
                                        <div class="col-lg-12 col-lg-offset-11">   
                                            <button class="btn btn-success" type="button" onclick="printDiv('printableArea')">Print <i class="fa fa-print"></i></button>
                                        </div>
                                    </div>                                                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>           
            </div>                     
        </div>  
    </div>

    <div id="01modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-gear fa-fw"></i>Account Settings</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <% include changepassword/changepassword.ejs %>
            </div>       
          </div>
        </div>
      </div>
    </div>
    <div id="02modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-edit fa-fw"></i> Update Account</h2></center>
          </div>
          <div class="modal-body">  
            <div class="panel panel-default">
                <div class="panel-body">    
                    <form role="form">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Qualifier</label>
                                    <input class="form-control">
                                </div>
                            </div>                                                        
                        </div>   
                        <hr> 
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-2">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input class="form-control" placeholder="MM/DD/YYYY">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input class="form-control">
                                </div>
                            </div>                                                      
                        </div> <hr>
                        <div class="col-lg-12 col-lg-offset-11">   
                            <button class="btn btn-success" type="button">Save <i class="fa fa-save"></i></button>
                        </div>                                                                                                                      
                    </form>                                                                                                                                                   
                </div>
            </div>                
          </div>
        </div>
      </div>
    </div>    
    <div id="03modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-lock fa-fw"></i> Change Password</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">    
                    <% include changepassword/changepasswordform.ejs %>                                               
                </div>
            </div>            
          </div>
        </div>
      </div>
    </div> 
    <div id="viewac" class="modal fade" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-eye fa-fw"></i> View Account</h2></center>
          </div>
          <div class="modal-body">  
            <div class="panel panel-default">
                <div class="panel-body">    
                    <form role="form">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <p>Di</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <p>Matthew Louis</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <p>Roque</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Qualifier</label>
                                    <p>N/A</p>
                                </div>
                            </div>                                                        
                        </div>   
                        <hr> 
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-2">
                                <div class="form-group">
                                    <label>Username</label>
                                    <p>matthewlouisrdi@yahoo.com</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <p>matthewlouisrdi@yahoo.com</p>
                                </div>
                            </div>                                                      
                        </div>                                                                                                                      
                    </form>                                                                                                                                                   
                </div>
            </div>                
          </div>
        </div>
      </div>
    </div>    
    <% include timemodal/timemodal.ejs %> 


    <div id="notif" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-bell fa-fw"></i> All Notifications</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="list-group">
                    <a href="#SchedSwap" data-target="#SchedSwap" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Owen C. Payumo</b> requested for a schedule swap.
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#SchedSwap" data-target="#Leave" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#SchedSwap" data-target="#Leave" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>
                    <a href="#SchedSwap" data-target="#Leave" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>
                    <a href="#SchedSwap" data-target="#SchedSwap" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Owen C. Payumo</b> requested for a schedule swap.
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#Leave" data-target="#Leave" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#Leave" data-target="#Leave" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>
                    <a href="#Leave" data-target="#Leave" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> requested for a leave.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>                                        
                </div>                                                                                      
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div id="SchedSwap" class="modal fade" role="dialog">
      <div class="modal-dialog modal-notif">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-refresh"></i> Schedule Swap Request</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">  
                    <form role="form">
                        <div class="row">
                            <center>
                            <h3><b>Application for Schedule Swap</b></h3>
                            </center>
                        </div><hr>                                          
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Employee ID Number</label>
                                    <p>14-0891-813</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <p>Matthew Louis R. Di</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Position</label>
                                    <p>Security Officer IV</p>
                                </div>
                            </div>     
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Location</label>
                                    <p>City Hall</p>
                                </div>
                            </div>                                                                                                      
                        </div><hr>                                              
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Swap Schedule with</label>
                                    <p>Owen C. Payumo</p>
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Number of Working Days Applied for</label>
                                    <p>3</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>From</label>
                                    <p>January 01, 2017</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>To</label>
                                    <p>January 03, 2017</p>
                                </div>
                            </div>                                                                            
                        </div><hr>  
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Reason for requesting a schedule swap</label>
                                    <p>Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla Blabla </p>
                                </div>
                            </div>                                                     
                        </div><hr>                                                                                            
                        <div class="col-lg-12">  
                            <center> 
                                <button class="btn btn-success" type="button">Approve <i class="fa fa-check"></i></button>
                                <button class="btn btn-danger" type="button">Decline <i class="fa fa-times"></i></button>
                            </center>
                        </div>               
                    </form>                                               
                </div>                                                                                        
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div id="Leave" class="modal fade" role="dialog">
      <div class="modal-dialog modal-notif">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-times"></i> Leave Request</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">  
                    <form role="form">
                        <div class="row">
                            <center>
                            <h3><b>Application for Leave</b></h3>
                            </center>
                        </div><hr>                                          
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Employee ID Number</label>
                                    <p>14-0891-813</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <p>Matthew Louis R. Di</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Position</label>
                                    <p>Security Officer IV</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Location</label>
                                    <p>City Hall</p>
                                </div>
                            </div>                                                                                                          
                        </div><hr>                                              
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Swap Schedule with</label>
                                    <p>Owen C. Payumo</p>
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Number of Working Days Applied for</label>
                                    <p>3</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>From</label>
                                    <p>January 01, 2017</p>
                                </div>
                            </div>  
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>To</label>
                                    <p>January 03, 2017</p>
                                </div>
                            </div>                                                                            
                        </div><hr>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label style="color:red">In case of vacation leave</label>
                                    <label>Where leave will be spent?</label>
                                    <p>Philippines</p>
                                </div>
                            </div>                                              
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label style="color:red">In case of sick leave</label>
                                    <label>Where leave will be spent?</label>
                                    <p>N/A</p>
                                </div>
                            </div> 
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label style="color:red">If other</label><br>
                                    <label>Reason for requesting a leave.</label>
                                    <p>N/A</p>
                                </div>
                            </div>                                                     
                        </div><hr>
                        <div class="col-lg-12">  
                            <center> 
                                <button class="btn btn-success" type="button">Approve <i class="fa fa-check"></i></button>
                                <button class="btn btn-danger" type="button">Decline <i class="fa fa-times"></i></button>
                            </center>
                        </div>              
                    </form>                                                
                </div>                                                                                        
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div id="readallmes" class="modal fade" role="dialog">
      <div class="modal-dialog modal-xlg">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-envelope fa-fw"></i> All Messages</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="list-group">
                    <a href="#mes" data-target="#mes" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Matthew Louis R. Di</b> <br><i>Subject:</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend.
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#mes" data-target="#mes" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Antonina Cristina B. Pabalan</b> <br><i>Subject:</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend.
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#mes" data-target="#mes" data-toggle="modal" class="list-group-item"  data-dismiss="modal">
                        <i class="fa fa-exclamation-circle fa-fw" style="color:red"></i> <b>Owen C. Payumo</b> <br><i>Subject:</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend.
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>
                    <a href="#mes" data-target="#mes" data-toggle="modal" class="list-group-item" data-dismiss="modal">
                        <b>Arianne Gay C. Santos</b> <br><i>Subject:</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. 
                        <span class="pull-right text-muted small"><em>1 day ago</em>
                        </span>
                    </a>                                   
                </div>                                                                                      
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div id="mes" class="modal fade" role="dialog">
      <div class="modal-dialog modal-xlg">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-envelope"></i> Message</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">  
                    <h3>Subject of the message</h3>
                    <h5>From: Matthew Louis R. Di</h5>  
                    <hr>  
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend.</p>  
                    <hr>
                    <center><button class="btn btn-success" type="button" data-toggle="modal" data-target="#composemes" data-dismiss="modal">Reply <i class="fa fa-send"></i></button></center>
                </div>                                                                                        
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div id="composemes" class="modal fade" role="dialog">
      <div class="modal-dialog modal-xlg">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-envelope"></i> Compose Message</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">  
                    <div class="row">                                 
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>Subject</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Recipient</label>
                            <select class="form-control">
                                <option>Antonina Cristina B. Pabalan</option>
                                <option>Arianne Gay C. Santos</option>
                                <option>Matthew Louis R. Di</option>
                                <option>Owen C. Payumo</option>
                            </select> 
                        </div>
                    </div>                      
                    <hr>
                    <div class="row"> 
                        <div class="col-lg-12">
                            <div class="form-group">
                              <label for="comment">Message Content:</label>
                              <textarea class="form-control" rows="10" id="comment"></textarea>
                            </div>
                        </div>
                    </div> 
                    <hr>
                    <center><button class="btn btn-success" type="button" data-toggle="modal" data-target="#composemes" data-dismiss="modal">Send <i class="fa fa-send"></i></button></center>
                </div>                                                                                        
            </div>
          </div>
        </div>
      </div>
    </div>     
    <script src="../bootstrap/vendor/jquery/jquery.min.js"></script>

    <script src="../bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="../bootstrap/vendor/metisMenu/metisMenu.min.js"></script>

    <script src="../bootstrap/vendor/raphael/raphael.min.js"></script>

    <script src="../bootstrap/vendor/morrisjs/morris.min.js"></script>

    <script src="../bootstrap/data/morris-data.js"></script>

    <script src="../bootstrap/dist/js/sb-admin-2.js"></script>
<script>
    (function() {
        var app = angular.module('app', []);

        app.controller('appController', function($scope, $http) {

            $scope.userId = <%= req.session.User.id %>;
            $scope.employee = {};
            $scope.employee.fullname = "";

            $scope.changePassword = {};
            $scope.changePassword.oldPassword = "";
            $scope.changePassword.newPassword = "";
            $scope.changePassword.confirmPassword = "";

            $http.get('/employee/' + $scope.userId).then(function success(response) {
                $scope.employee = response.data;
                $scope.employee.fullname = response.data.lastname + ', ' +response.data.firstname + ' ' + response.data.middlename;
                console.log(response);
            }, function error(response) {
                console.log(response);
            });

            $scope.changePasswordSubmit = function () {

                var data = {data: $scope.changePassword};

                $http.post('/user/changepassword/' + $scope.userId, data).then(function success(response) {
                    alert('Success');
                    console.log(response);
                }, function error(response) {
                    console.log(response);
                });
            };
            
            $scope.logout = function () {

                $http.post('/logout').then(function success(response) {
                    window.location.href = '/';
                }, function error(response) {
                    console.log(response);
                });
            };
            
        });
    })();
</script>
</body>

</html>
