<!DOCTYPE html>
<div id="07modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <center><h2 class="modal-title"><i class="fa fa-check"></i> Time-in Successful!</h2></center>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">  
                    <center><input type="text" name="" ng-model="empIdNumber" placeholder="Enter ID number">
                    <button class="btn btn-primary" ng-click="clockIn()">Clock In</button>
                    <button class="btn btn-danger" ng-click="clockOut()">Clock Out</button>
                    </center>
                </div>                                                                                        
            </div>
          </div>
        </div>
      </div>
    </div> 